<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BallmerBot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>339DD7DD1D0C7C54007C0118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>339DD7F11D0C7C55007C0118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>339DD7FC1D0C7C55007C0118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
